
span{
    margin: 2px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 300 px;
    height: 90vh ;
    border: 1px solid #706565;
    background-image: linear-gradient(to right top, #3e6baf, #6965bb, #9857bb, #c640ab, #eb128d);

    img{
        width:25%;
        height: 35%;
        border: 1px sold #b1a7a7;
        margin: 0.5px;
    }
}